@using CardapioDigital.Application.Dto.Response

<div class="container py-5">
    <h2 class="text-center fw-bold mb-4">Explore Nossas Categorias</h2>
    <div class="row justify-content-center g-3">
        @foreach (var categoria in categorias)
        {
            <div class="col-6 col-md-4 col-lg-2 text-center">
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-img-top position-relative" style="height: 100px; background: url('https://thumbs.dreamstime.com/b/big-pizza-cheese-tomatoes-white-isolated-background-eps-file-available-97801812.jpg') no-repeat center center; background-size: cover; border-radius: 8px;">
                        <div class="overlay position-absolute top-0 start-0 w-100 h-100 rounded-4" style="background: rgba(0, 0, 0, 0.3);"></div>
                    </div>
                    <div class="card-body p-2">
                        <h6 class="card-title fw-bold text-dark mb-1">@categoria.NomeCategoria</h6>
                        <small class="text-muted">Descubra opções</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    [Parameter] public IEnumerable<CategoriaResponseDto>? categorias { get; set; }
}