@page "/"

@using CardapioDigital.Application.Dto.Request
@using CardapioDigital.Application.Dto.Response
@using CardapioDigital.Application.Services.IServices

@inject IGenericoServices<RestauranteRequestDto, RestauranteResponseDto> RestauranteServices
@inject IGenericoServices<CategoriaRequestDto, CategoriaResponseDto> CategoriaServices


<PageTitle>Home</PageTitle>

<Filtro/>

<section>
    <div class="container py-4">
        <h2 class="pb-3 text-center fw-bold text-primary">Mais populares da região <i class="fa-solid fa-fire text-warning"></i></h2>
        @foreach (var restaurante in restaurantes)
        {
            <div class="row justify-content-center mb-4">
                <div class="col-md-12 col-xl-10">
                    <div class="card border-0 shadow-sm rounded-4 overflow-hidden">
                        <div class="row g-0">
                            <!-- Imagem do Restaurante -->
                            <div class="col-md-4">
                                <div class="position-relative h-100">
                                    <img src="@restaurante.ImagemRestaturanteUrl"
                                         class="img-fluid h-100 w-100 object-fit-cover"
                                         alt="Imagem do Restaurante">
                                    <span class="badge bg-success position-absolute top-0 start-0 m-2 p-2 rounded-3">Aberto agora</span>
                                </div>
                            </div>

                            <!-- Detalhes do Restaurante -->
                            <div class="col-md-5 p-4">
                                <h5 class="fw-bold">@restaurante.NomeRestaurante</h5>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="text-warning me-2">
                                        @*  @for (var i = 0; i < 5; i++)
                                        {
                                            <i class="fa @(i < restaurante.Avaliacao ? "fa-star" : "fa-star-o")"></i>
                                        } *@
                                    </div>
                                    <span class="text-muted small"> avaliações</span>
                                </div>
                                <p class="text-muted mb-1"><strong>Cozinha:</strong> Tradicional</p>
                                <p class="text-muted"><strong>Localização:</strong> Endereço</p>
                                <p class="text-muted"><strong>Horário:</strong> 18:00 às 22:00</p>
                            </div>

                            <!-- Ações e Preço -->
                            <div class="col-md-3 p-4 d-flex flex-column justify-content-between bg-light">
                                <div>
                                    <p class="text-muted mb-1">
                                        <strong>Faixa de Preço:</strong>
                                    </p>
                                    <p class="fw-bold text-primary">R$10,00 - R$50,00</p>
                                </div>
                                <div>
                                    <p class="badge bg-warning text-dark mb-2 p-2">Somente retirada</p>
                                    <a href="/restaurante/@restaurante.IdRestaurante" class="btn btn-primary btn-sm w-100 mb-2">Ver Detalhes</a>
                                    <button class="btn btn-outline-primary btn-sm w-100" type="button">
                                        <i class="fa-solid fa-heart me-1"></i> Adicionar aos Favoritos
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <Pagination/>
</section>

@code {
    private IEnumerable<RestauranteResponseDto> restaurantes = new List<RestauranteResponseDto>();
    private IEnumerable<CategoriaResponseDto> categorias = new List<CategoriaResponseDto>();

    protected override async Task OnInitializedAsync()
    {
        restaurantes = await RestauranteServices.GetAll();
        categorias = await CategoriaServices.GetAll();
    }

}